@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

p, ul, li {
	text-align: justify;
}

.centered {
	text-align: center;
}

html * {
	font-family: 'IBM Plex Sans', sans-serif;
}

pre, code, xmp {
	font-family: 'IBM Plex Mono', monospace;
}

pre * {
	font-family: 'IBM Plex Mono', monospace;
}

/*
right sidebar style
*/
ul > li > a {
	text-align: left;
}

/* full width tables */
.md-typeset__table {
    width: -moz-available;
    width: -webkit-available;
}